<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuario - Cadastrar Paciente</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/create.css">

    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>
    <div id="page-create-patient">

            <header>
                <img src="/assets/logo.svg" width="50px" alt="logo">
                <a href="/">
                    <span></span>
                    Voltar para home
                  </a>
            </header>

            <form action="/">

                <h1>Cadastro do cliente</h1>

                <fieldset>
                    <legend>
                        <h2>Dados do cliente:</h2>
                    </legend>
                    <div class="field">
                        <label for="name">Nome do paciente</label>
                        <input type="text" name="name">
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="cpf">CPF</label>
                            <input type="text" name="cpf">
                        </div>
                        <div class="field">
                            <label for="rg">RG</label>
                            <input type="text" name="rg">
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="address">Endereço</label>
                            <input type="text" name="address">
                        </div>
                        <div class="field">
                            <label for="address2">Número/Complemento</label>
                            <input type="text" name="address2">
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="cellphone">Telefone</label>
                            <input type="text" name="cellphone">
                        </div>
                        <div class="field">
                            <label for="cellphone2">Contato para emergência</label>
                            <input type="text" name="cellphone2">
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="field">
                            <label for="date">Data de nascimento</label>
                            <input type="date" name="date">
                        </div>
                        <div class="field">
                            <label for="allergy">Alergia a medicamento</label>
                            <select name="allergy" id="allergy">
                                <option value="0">Sim</option>
                                <option value="1">Não</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
               
                <button type="submit">Cadastrar paciente</button>
            </form>
              
  
    </div> 
</body>
</html>