{% extends "layout.njk" %}

{% set bodyId = "page-patient" %}

{% block title %}
    <title>Prontuario - Paciente</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/styles/patient.css">
{% endblock %}

{% block content %}
<div class="content">
    <header>
        <img src="/assets/logo.svg" width="50px" alt="logo">
        <a href="/">
            <span></span>
            Voltar para home
        </a>
    </header>

    <main>

        <div class="info-patient">
            <h2>Rodrigo de Almeida Barbosa</h2>
            <p>CPF: 000.000.000-00</p>
            <p>RG: 00.000.000-0</p>
            <p>Endereço: Planalto Luxemburgo 5</p>
            <p>Telefone: (92) 99999-9999</p>
            <p>Contato para Emergência: (92) 99999-9999</p>
            <p>Data de Nascimento:</p>
            <p></p>
            <p>Alergia: Não</p>
        </div>

        <div class="procedures">
            <div class="btn">
                <a href="/create-procedure">
                    <span></span>Novo procedimento</a>
            </div>

            <div class="procedure">
                <div class="type">
                    <img src="/assets/restauracao.svg" alt="restauracao" width="60">
                    <span>Restauração</span>
                </div>
                <div class="info">
                    <div class="group-info">
                        <h4>Data:
                        </h4>
                        <p>24/02/2000</p>
                        <h4>Valor:</h4>
                        <p>R$ 100,00</p>
                    </div>
                    <div class="group-info">
                        <h4>Observações:</h4>
                        <p>
                            É simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja.</p>
                    </div>
                </div>
            </div>
            <div class="procedure">
                <div class="type">
                    <img src="/assets/restauracao.svg" alt="restauracao" width="60">
                    <span>Restauração</span>
                </div>
                <div class="info">
                    <div class="group-info">
                        <h4>Data:
                        </h4>
                        <p>24/02/2000</p>
                        <h4>Valor:</h4>
                        <p>R$ 100,00</p>
                    </div>
                    <div class="group-info">
                        <h4>Observações:</h4>
                        <p>
                            É simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja.</p>
                    </div>
                </div>
            </div>
            <div class="procedure">
                <div class="type">
                    <img src="/assets/restauracao.svg" alt="restauracao" width="60">
                    <span>Restauração</span>
                </div>
                <div class="info">
                    <div class="group-info">
                        <h4>Data:
                        </h4>
                        <p>24/02/2000</p>
                        <h4>Valor:</h4>
                        <p>R$ 100,00</p>
                    </div>
                    <div class="group-info">
                        <h4>Observações:</h4>
                        <p>
                            É simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}