@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Nunito:wght@300;400;700&display=swap');

:root {
    --color-one: #CAF0F8;
    --color-two: #90E0EF;
    --color-three: #00B4D8;
    --color-four: #0077B6;
    --color-five: #03045E;
    --color-six: #E9FBFF;

}

* {
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-six);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

header {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    display: flex;

    color: var(--color-four);
}

header a span {
    display: flex;

    margin-right: 4px;

    background-image: url('/assets/add.svg');

    width: 20px;
    height: 20px;
}
